@*@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Club 27</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@


@*<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>*@


@*<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="EmployeeMasters/Index">Employee</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="ActivityMasters/Index">Activity</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="EmployeeActivities/Index">Enrollment</a>
      </li>

        </div>
    <form class="form-inline my-2 my-lg-0">
    </form>
  </div>
</nav>*@

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model IEnumerable<Club_27.ViewModels.EnrollmentViewModelAutoMapper>

@{
    ViewData["Title"] = "Index";
}

@if (SignInManager.IsSignedIn(User))
{

    <h1></h1>

    <p>
        <a asp-controller="Enrollments" asp-action="Create">Want to Enroll Someone ?</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Activity</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                var activityNameList = "";
                <tr>
                    <td>
                        @*@item.EmployeeVM.EmployeeName*@
                        @item.EmployeeName
                    </td>
                    
                   @if (item.ActivityName != null)
                    {
                        @*activityNameList = string.Join(" | ", item.ActivityList.Select(x => x.ActivityName));*@
                        activityNameList = string.Join(", ", item.ActivityName);
                    }
                    <td>
                        @activityNameList
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
<li class="nav-item">
        <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
    </li>
   
}
